{% extends "layout.html" %}

{% block pageTitle %}
  MoJ Interventions - make referrals
{% endblock %}

{% block beforeContent %}

  {% from 'govuk/components/phase-banner/macro.njk' import govukPhaseBanner %}
  {{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: 'This is a new service - your <a href="#" class="govuk-link">feedback</a> will help us to improve it.'
  }) }}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Needs and risks
      </h1>

      <form action="making-referral-check-answers" method="post" class="form">

        <div>

        </div>

        <div class="govuk-form-group">
          <h2 class="govuk-label-wrapper">
            <label class="govuk-label govuk-label--m" for="service-user-name">
              Name of the service user:
            </label>
          </h2>
          <!--
          <p>It is: {{ data['users'][data['service-user-id']]['service-user-name'] }}</p>
          -->
          {% for id, userName in users %}
          <p>It is: {{ userName }}</p>
          {% endfor %}
          <input class="govuk-input" id="service-user-name" name="service-user-name" value="" type="text">
        </div>


        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>
{% endblock %}
